
body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(231, 212, 212);
    color: rgb(28, 28, 28);
    line-height: 1.5;
    padding: 0 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 8px 0;
    margin-bottom: 40px;
    border-bottom: 3px solid black;
}

header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0.1;
    line-height: 0;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    color: rgb(28, 28, 28);
    margin-left: 10px;
    text-transform: uppercase;
}

nav a:hover {
    background: rgb(224, 94, 94);
    color: rgb(255, 222, 222);
}



.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;                            
    max-width: 1000px;                     
    margin: 0 auto;                    
}

.gallery img {
    max-width: 300px;
    width: 100%;          
    aspect-ratio: 1 / 1;  
    object-fit: cover;    
    display: block;      
}
