
body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(231, 212, 212);
    color: rgb(28, 28, 28);
    line-height: 1.5;
    padding: 0 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 8px 0;
    margin-bottom: 40px;
    border-bottom: 3px solid black;
}

header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0.1;
    line-height: 0;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    color: rgb(28, 28, 28);
    margin-left: 10px;
    text-transform: uppercase;
}

nav a:hover {
    background: rgb(224, 94, 94);
    color: rgb(255, 222, 222);
}


